
// COLOR PALETTE

$clr1: #65d6ce;
$clr3: #ffe9d6;
$clr2: #504658;
$clr4: #654062;
$clr5: #fa9579;

// LAYOUT BREAKPOINTS

$break-narrow: 500px;
// $break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;


